.Chat-main
  .Chat-main__info
    .Chat-main__left
      %p.Chat-main__text
        = @group.name
      .Chat-main__text__inner
        Member:
        - @group.users.each do |user|
          = user.name
    .Chat-main__right
      .Chat-main__text__edit
        = link_to edit_group_path(@group.id), class: 'Chat-main__a' do
          Edit

  .Chat-main__message-list
    = render @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Chat-main__message__contents
        = f.text_field :content, class: 'Chat-main__message-left', placeholder: 'type a message'
        = f.label :image, class: "form-image" do
          = icon('fas' , 'image', class: 'Chat-main__message-icon')
        = f.file_field :image, class: 'Chat-main__file-delete'
        = f.submit 'Send', class: 'Chat-main__message-btn'
