.Side-bar
  .Side-bar__user-name
    .Side-bar__items
      %h3.Side-bar__items__left
        = current_user.name
      .Side-bar__items__right
        = link_to new_group_path , class: 'Side-bar__btn' do
          = icon('fas' , 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: 'Side-bar__btn' do
          = icon('fas' , 'cog')
  .Side-bar__list
    - current_user.groups.each do |group|
      .Side-bar__inner
        = link_to group_messages_path(group) do
          .Side-bar__text
            = group.name
          .Side-bar__text__inner
            = group.show_last_message
